{% extends "base.html" %}
{% block content %}

<section class="container py-5">

    <div class="text-center mb-5">
        <h2 class="fw-bold display-6">Contact Us</h2>
        <p class="text-white fs-5">
            We’re here to assist you with verification inquiries, technical support, or partnership requests.
        </p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card shadow-lg border-0 p-4 rounded-4 " >
                
                <h4 class="fw-bold mb-4 text-black">📩 Get in Touch</h4>

                <div class="mb-4 d-flex align-items-start">
                    <span class="fs-2 me-3 text-primary ">📧</span>
                    <div>
                        <h6 class="fw-bold">Email</h6>
                        <p class="text-muted mb-0">abdulbasitabba16@gmail.com</p>
                    </div>
                </div>

                <div class="mb-4 d-flex align-items-start">
                    <span class="fs-2 me-3 text-primary">📱</span>
                    <div>
                        <h6 class="fw-bold">Phone</h6>
                        <p class="text-muted mb-0">+2348166807974</p>
                    </div>
                </div>

                <div class="d-flex align-items-start">
                    <span class="fs-2 me-3 text-primary">🏛</span>
                    <div>
                        <h6 class="fw-bold">Institution</h6>
                        <p class="text-muted mb-0">AAL COMPUTER SOLUTIONS</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

{% endblock %}
